[project]
	description = learn android technology
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thomsen Wang (Thomsen)
[access "refs/for/refs/*"]
	read = group user/Thomsen Wang (Thomsen)
	push = group user/Thomsen Wang (Thomsen)
	label-Code-Review = -2..+2 group user/Thomsen Wang (Thomsen)
	label-Verified = -1..+1 group user/Thomsen Wang (Thomsen)
	rebase = group user/Thomsen Wang (Thomsen)
	removeReviewer = group user/Thomsen Wang (Thomsen)
	submit = group user/Thomsen Wang (Thomsen)
[access "refs/heads/*"]
	read = group user/Thomsen Wang (Thomsen)
	create = group user/Thomsen Wang (Thomsen)
	push = +force group user/Thomsen Wang (Thomsen)
	pushMerge = group user/Thomsen Wang (Thomsen)
[access "refs/tags/*"]
	push = group user/Thomsen Wang (Thomsen)
	push = +force group user/Thomsen Wang (Thomsen)
