<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.cornucopia.kotlin">

    <uses-sdk tools:overrideLibrary="jack.hivelayoutmanager_library"/>

    <application>
        <activity
            android:name=".KotlinMainActivity"
            android:label="Kotlin/Main"
            android:theme="@style/KotlinTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity android:name=".recy.RecyMainActivity"
            android:label="Kotlin/Recy"
            android:theme="@style/KotlinTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity android:name=".recy.RecyFlexboxActivity"
                  android:label="Kotlin/RecyFlex"
                  android:theme="@style/KotlinTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <activity android:name=".animation.LottieDemoActivity"
            android:label="UI/Animation/Lottie"
            android:theme="@style/KotlinTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <activity android:name=".weather.viewmodel.view.WeatherMainActivity"
            android:label="Third/Component/Weather"
            android:theme="@style/KotlinTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <activity android:name=".nav.NavigationFirstActivity"
            android:label="Kotlin/Navigation"
            android:theme="@style/KotlinTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity android:name=".nav.NavigationSecondActivity" />

        <service android:name=".weather.repository.network.WeatherSyncIntentService" />
    </application>

</manifest>