<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cornucopia"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- image contain gps -->

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.cornucopia" >
    </instrumentation>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <application
        android:name=".application.CornucopiaApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" >
        </uses-library>

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="a36d30d59be748e249b99d06162df7fa" />

        <!-- Application -->

        <activity
            android:name=".application.LoadingActivity"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".application.Cornucopia" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Apache -->

        <activity
            android:name=".http.Communication"
            android:label="Http/Communication" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".http.MiboLoginActivity"
            android:label="Http/Mibo Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".http.robospice.RobospiceActivity"
            android:label="Http/Robospice" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <service android:name=".http.robospice.RobospiceService" />

        <!-- Aspect -->
        <activity
            android:name=".aspect.dexposed.DexposedActivity"
            android:label="Aspect/Dexposed" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <!-- Basic -->

        <activity
            android:name=".lifecycle.ActivityLifecycle"
            android:label="Basic/Lifecycle/ActivityLifecycle" >

            <!-- android:configChanges="orientation|keyboardHidden" > -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lifecycle.StarterActivity"
            android:label="Basic/Lifecycle/LifecycleStarter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".storage.contacts.FetchContacts"
            android:label="Basic/Content Provider/FetchContacts" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".storage.contacts.AddContacts"
            android:label="Basic/Content Provider/AddContacts" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".transmit.ActivityTest"
            android:label="Basic/Activity/Activity Test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".transmit.ActivityTransmitData"
            android:label="Basic/Activity/Activity Transmit Data" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity android:name=".transmit.ActivityObtainData" >
        </activity>
        <activity
            android:name=".transmit.DialogIntentActivity"
            android:label="Basic/Activity/Activity Dialog Intent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity android:name=".transmit.DialogResultActivity" >
        </activity>
        <activity
            android:name=".hotfix.HotfixBugActivity"
            android:label="Basic/Activity/Hotfix" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.ClientActivity"
            android:label="Basic/Service/ClientActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.RemoteExService"
            android:process=":remote" >

            <!-- INSTALL_PARSE_FAILED_MANIFEST_MALFORMED process="remote" -->
            <intent-filter>
                <action android:name="com.cornucopia.service.IRemoteService" />
            </intent-filter>
        </service>
        <service android:name=".service.MessengerService" >
            <intent-filter>
            </intent-filter>
        </service>
        <service android:name=".lifecycle.ServiceLifecycle" >
        </service>

        <receiver android:name=".lifecycle.BroadcastReceiverLifecycle" >
        </receiver>

        <!-- Device -->

        <activity
            android:name=".devices.PolicyAdminActivity"
            android:label="Device/Policy/General" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".devices.PolicyAdminActivity$PolicyAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".devices.map.LocMainActivity"
            android:label="Device/Map/Loc" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".devices.timer.TimerTaskActivity"
            android:label="Device/Task" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <receiver android:name=".devices.timer.TimerTaskActivity$MyReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="com.example.alarm" />
                <action android:name="com.example.alarmwakeup" />
            </intent-filter>
        </receiver>
        <receiver android:name=".devices.timer.AlarmTimerBroadcast" >
            <intent-filter>
                <action android:name="timer_restart" />
            </intent-filter>
        </receiver>

        <service android:name=".devices.timer.TestOnStartCommandService" />

        <!-- Di -->

        <activity
            android:name=".di.dagger2.D2MainActivity"
            android:label="Di/Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <!-- Graphics -->

        <activity
            android:name=".graphics.compress.PictureCompressActivity"
            android:label="Graphics/PictureCompress" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.fresco.FrescoDemoActivity"
            android:label="Graphics/PictureFresco" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.glide.GlideDemoActivity"
            android:label="Graphics/PictureGlide" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".graphics.chart.LineChartActivity"
            android:label="Graphics/Chart/Line" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <!-- Multimedia -->

        <activity
            android:name=".multimedia.SpeakAndTextActivity"
            android:label="Multimedia/Voice/STTS"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".multimedia.CameraShowActivity"
            android:label="Multimedia/Camera"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".multimedia.CameraActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- Parser -->

        <activity
            android:name=".parser.ParserGsonActivity"
            android:label="Parser/Gson" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <!-- Storage -->
        <activity
            android:name=".storage.ticketsmanager.ViewTicketsActivity"
            android:label="Storage/SQLite/Add Tickets" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".storage.ticketsmanager.ViewTicketsListActivity"
            android:label="Storage/SQLite/Add Tickets List" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity android:name=".storage.ticketsmanager.AddTicketsActivity" >
        </activity>
        <activity android:name=".storage.ticketsmanager.TicketsManagerActivity" >
        </activity>
        
        <activity
            android:name="com.cornucopia.storage.deadlock.TicketDeadlockActivity"
            android:label="Storage/SQLite/Deadlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:label="Storage/SQLite/Realm Add Tickets"
            android:name="com.cornucopia.storage.realm.RealmViewTicketsActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cornucopia.storage.realm.RealmViewTicketsListActivity"
            android:label="Storage/SQLite/Realm Add Tickets List" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity android:name="com.cornucopia.storage.realm.RealmAddTicketsActivity"></activity>
        -->


        <!-- UI -->

        <activity
            android:name=".ui.html.HtmlUI"
            android:label="UI/Html" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dynamic.ExpandlistDemo"
            android:label="UI/Dynamic/Expandlist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dynamic.SearchbarDemo"
            android:label="UI/Dynamic/SearchBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dynamic.DynamicMenuMainActivity"
            android:label="UI/Dynamic/Menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.fragment.ArticleActivity"
            android:label="UI/Fragment/Article" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.fragment.MenuFragmentActivity"
            android:label="UI/Fragment/Menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ThermometerActivity"
            android:label="UI/Custom/Thermometer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.drag.DragMainActivity"
            android:label="UI/Drag/DragMain" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.list.SwipeRefreshActivity"
            android:label="UI/List/SwipeRefresh" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.list.PullPushRefreshDemo"
            android:label="UI/List/PullPushRefresh" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.material.DemoButtonActivity"
            android:label="UI/Material/Button" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.material.DemoEditTextActivity"
            android:label="UI/Material/EditText" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.compat.ToolbarDemoActivity"
            android:label="UI/Compat/Toolbar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.tree.OrgTreeMainActivity"
            android:label="UI/Tree/Orgtree" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".web.WebBrowserDemo"
            android:label="Web/WebBrowser" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".web.NativeInvokeJs"
            android:label="Web/NativeInvokeJs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".web.JsInvokeNative"
            android:label="Web/JsInvokeNative" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".event.EeventBusMainActivity"
            android:label="Event/EventBus" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity android:name=".event.EventBusSubActivity" >
        </activity>
        <activity
            android:name=".event.rxjava.RxjavaActivity"
            android:label="Event/Rxjava" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <!-- Search -->

        <activity
            android:name=".search.loader.AppListActivity"
            android:label="Search/Applist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.rxjava.RxAppListActivity"
            android:label="Search/RxApplist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>

        <!-- memory leak -->
        <service
            android:name="com.squareup.leakcanary.internal.HeapAnalyzerService"
            android:enabled="false"
            android:process=":leakcanary" />
        <service
            android:name="com.squareup.leakcanary.DisplayLeakService"
            android:enabled="false" />

        <activity
            android:name="com.squareup.leakcanary.internal.DisplayLeakActivity"
            android:enabled="false"
            android:icon="@drawable/__leak_canary_icon"
            android:label="@string/__leak_canary_display_activity_label"
            android:taskAffinity="com.squareup.leakcanary"
            android:theme="@style/__LeakCanary.Base" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- mvp -->
        <activity
            android:name="com.cornucopia.mvp.TasksActivity"
            android:label="Third/MVP/Todo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
        <!-- patch -->
        <activity
            android:name="com.cornucopia.view.PatchMainActivity"
            android:label="Third/Patch/Main" >
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
            </intent-filter>
        </activity>
      
    </application>

</manifest>