<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cornucopia.patch"
    android:versionCode="2"
    android:versionName="1.0" >

    <!--<uses-sdk-->
        <!--android:minSdkVersion="16"-->
        <!--android:targetSdkVersion="22" />-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    
    <application >

        <!-- patch to merge copia-app -->
        <activity
            android:name="com.cornucopia.view.PatchMainActivity"
            android:exported="false"
            android:label="Third/Patch/Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cornucopia.CATEGORY_CORNUCOPIA" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>